{{ $dateFormat := default "Jan 2, 2006" (index .Site.Params "date_format") }}

<center>
<p class="article-meta">
    <span class="article-meta-published-at grey-text text-darken-1">Page last updated: {{ .Date.Format $dateFormat }}</span>
    <BR>
    <span class="article-meta-published-at grey-text text-darken-1">{{ .Site.Copyright | safeHTML }}</span>
    <span class="article-meta-published-at grey-text text-darken-1"><A href="/en/ssb/ssb-legal/">Legal Information.</A></span>
</P>
</center>