#sidebar {

}
ul#sidebar {
	text-decoration: none;
	text-align: center;
}
li#sidebar {
	text-decoration: none;
}
ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lavender;
}

li#nav {
    float: left;
}

li#nav a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
	display: inline-block;
}
li#language.dropdown {
	float: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
	overflow:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

li.dropdown:hover .dropdown-content {
    display: block;
}